// place your custom styles here
.vp-blog-hero-title{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    line-height: 1.5;
}


.vp-page {  
    background-color: white;
    [data-theme="dark"] & {
        background-color: #222 !important;
      }
}
.vp-sidebar {
    background-color: white;
    [data-theme="dark"] & {
        background-color: #222 !important;
      }
}

.hitokoto-text span {
    font-family: STXingkai,Arial, "Helvetica Neue", Helvetica, sans-serif;
    // font-size: 2rem !important;
    font-weight: bold;
    font-style: italic;
    // line-height: 1.5;
}
.hitokoto-author {
    font-family: STXingkai,Arial, "Helvetica Neue", Helvetica, sans-serif;
    // font-size: 1.4rem !important;
}


// .vp-blog-mask {
//     width: 100vw;
//     height: 100vh;
//     position: relative;
//     overflow: hidden;
// }

#bg-video {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    // object-fit: cover;
    overflow: hidden;
}





// .vp-blog-hero-description {
//     font-family: 'Times New Roman', Times, serif;
//     font-weight: bold;
//     font-style: italic;
//     line-height: 1.5;
//     position: relative;
//     color: white; /* 设置初始文本颜色 */
//     opacity: 1;
//     overflow: hidden;
//     background: linear-gradient(90deg, violet, indigo, blue, green, yellow, orange, red);
//     background-size: 700% 100%;
//     -webkit-background-clip: text;
//     background-clip: text;
//     -webkit-text-fill-color: transparent;
//     animation: marquee 5s linear infinite;
//     animation-delay:-5s;
//     -webkit-animation-delay:-5s; /* Safari 和 Chrome */

// }

// @keyframes marquee {
//     0% {
//         background-position: 100% 50%; /* 与静态样式一致 */
//     }
//     100% {
//         background-position: 50% 0%; /* 向左侧结束 */
//     }
// }