// place your custom styles here
.vp-blog-hero-title {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-style: italic;
  line-height: 1.5;
}

//文章左边菜单栏
#sidebar > .vp-sidebar-links {
  border-radius: 2%;
  background-color: rgba(243, 246, 247, 0.3);

  // font-weight: 600 !important;
  [data-theme="dark"] & {
    background-color: rgb(34, 34, 34);
  }
}
.vp-page {
  z-index: 0;
  background-color: rgba(243, 246, 247, 1);
  // background-image: url("./../public/assets//images/banner.jpg");
  // background-position: center center;
  // /* 背景图不平铺 */
  // background-repeat: no-repeat;
  // /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
  // background-attachment: fixed;
  // /* 让背景图基于容器大小伸缩 */
  // background-size: cover;

  // background-color: rgba(243, 246, 247, 1);
  // opacity: 0.9;
  [data-theme="dark"] & {
    z-index: inherit;
    background-color: rgba(34, 34, 34, 1);
  }

  .vp-breadcrumb,
  .vp-page-title,
  .page-info,
  .theme-hope-content,
  .vp-page-meta,
  .vp-page-nav {
    background-color: rgba(255, 255, 255, 1);
    // background-color: rgba(243, 246, 247, 1);

    [data-theme="dark"] & {
      background-color: rgba(34, 34, 34, 1) !important;
    }
  }
  //去除文章页面最上面的空缝隙
  .theme-hope-content {
    margin-top: -1.1rem;
    // blockquote {
    // margin: -0.8rem 0 0 1rem;
    // margin-top: -0.8rem ;
    // }
  }

  // .vp-toc-placeholder > #toc > div.vp-toc-wrapper > ul > li:nth-child(1) > a{
  //     color: rgb(20 20 20) !important;
  //     font-weight: 600;
  // }

  
  //文章右边目录
  .vp-toc-placeholder > #toc {
    border-radius: 2%;
    // } ul{
    background-color: rgba(243, 246, 247, 0.3);

    // font-weight: 600 !important;
    [data-theme="dark"] & {
      background-color: rgb(34, 34, 34);
    }
  }

  //文章封面
  .page-cover {
    margin-bottom: -0.2rem;
  }
}

//主页去除最下面多余的容器
[vp-content]:not(.custom) {
  // max-width: var(--content-width, 740px);
  // margin: 0 auto;
  padding: 0rem 2.5rem;
  // margin-bottom: -1.1rem;
}
//文章content里面的页脚 和 内容的空隙补全。
.vp-page-meta {
  margin-top: -1.5rem;
}

.vp-sidebar {
  z-index: 1;
  backdrop-filter: none;
  background-color: rgba(243, 246, 247, 0);

  [data-theme="dark"] & {
    background-color: #222 !important;
  }
}

// 太占用网络了，使用默认字体
@font-face {
  font-family: "华文行楷";
  src: url("STXINGKA.TTF");
}

.hitokoto-text span {
  font-family: "华文行楷";
  src: url("STXINGKA.TTF");
  font-style: italic;
}

.hitokoto-author {
  font-family: "华文行楷";
  src: url("STXINGKA.TTF");
}

// .vp-blog-mask {
//     width: 100vw;
//     height: 100vh;
//     position: relative;
//     overflow: hidden;
// }

#bg-video {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  // object-fit: cover;
  overflow: hidden;
}

#bg-video2 {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  // object-fit: cover;
  overflow: hidden;
  z-index: -1;
}

.vp-blog-hero-description {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    line-height: 1.5;
    position: relative;
    color: white; /* 设置初始文本颜色 */
    opacity: 1;
    overflow: hidden;
    background: linear-gradient(90deg, violet, indigo, blue, green, yellow, orange, red);
    background-size: 700% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: marquee 5s linear infinite;
    animation-delay:-5s;
    -webkit-animation-delay:-5s; /* Safari 和 Chrome */

}

@keyframes marquee {
    0% {
        background-position: 100% 50%; /* 与静态样式一致 */
    }
    100% {
        background-position: 50% 0%; /* 向左侧结束 */
    }
}
