// you can change colors here
$vp-c-bg: (
    light: #f3f6f7,
    dark: #1b1b1f
);

// .blog-page-wrapper{
// .vp-footer-wrapper {
//     height: auto;
//     background-image: url("./../public/assets/images/footer.webp");
//     background-repeat: no-repeat;
//     background-position: center;
// }

// .vp-page {
//     background-color:(
//         light:white,
//         dark: black
//     )
// }
// $vp-page:(
//     light:white,
//     dark: black
// );




// $vp-c-text-mute(
//     light: #1b1b1f,
//     dark: #f3f6f7
// )