// you can change colors here
$vp-c-bg: (
    light: #f3f6f7,
    dark: #1b1b1f
);

// .blog-page-wrapper{
.vp-footer-wrapper {
    height: auto;
    background-image: url("/assets/images/footer.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25cqmax;
    
    background-color: rgba(243, 246, 247, 0.75);;
}
@media (max-width: 719px) {
    .vp-footer-wrapper {
        background-size: cover;
    }
}

// .vp-page {
//     background-color:(
//         light:white,
//         dark: black
//     )
// }
// $vp-page:(
//     light:white,
//     dark: black
// );




// $vp-c-text-mute(
//     light: #1b1b1f,
//     dark: #f3f6f7
// )